{% extends "flights/layout.html" %}

{% block body %}
<h1>Book Flight {{ flight.id }}</h1>
<ul>
  <li>Origin: {{ flight.origin }} </li>
  <li>Destination: {{ flight.destination }} </li>
  <li>Duration: {{ flight.duration }} </li>
</ul>

<div>
  <form action="{% url 'book' flight.id %}" method="POST">
    {% csrf_token %}
    <label for="passenger_id">Choose a passenger:</label>
    <select name="passenger_id" id="passenger_id">
      {% for passenger in passengers %}
      <option value={{ passenger.id }}>{{ passenger.first }} {{ passenger.last }}</option>
      {% endfor %}
    </select><br>
    <input type="submit">
  </form>
</div>
{% endblock %}